<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="vue.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>

<body>
    <div id="app">
        <!-- <input type="text" v-on:input="changeTitle"> -->
        <!-- Binding to attributes -->
        <p>Binding to attributes</p>
        <button v-on:click="increaseCounter(2)">Click me</button>
        <p>{{counter}}</p>
        <p v-on:mousemove="updateCoordinates">
            Coordinates: {{x}} / {{y}} -
            <span v-on:mousemove.stop="">
                DEAD SPOT
            </span>
        </p>
        <!-- Disabling re-rendering -->
        <hr>
        <p>Disabling re-rendering</p>
        <h1 v-once>{{ title }}</h1>
        <p>
            {{sayHello()}} <a v-bind:href="link">Google</a>
        </p>
        <!-- Outputing raw HTML -->
        <hr>
        <p>Outputing raw HTML - use with discretion</p>
        <p v-html="finishedLink"></p>
        <!-- Listening to events -->
        <hr>
        <p>Listening to events</p>
        <input type="text" v-on:keyup.enter.space="alertMe">
        <!-- two way data binding -->
        <hr>
        <p>Two way data binding</p>
        <input type="text" v-model="name">
        <p>{{name}}</p>
        <!-- Dynamic styling without CSS classes -->
        <hr>
        <p>Dynamic styling without CSS classes</p>
        <div class="demo" :style="{'background-color': color}"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>
</body>

<script>
    new Vue(
        {
            el: "#app",
            data: {
                title: "Hello world!",
                link: "http://google.com",
                finishedLink: '<a href="http://google.com">Google</a>',
                counter: 0,
                x: 0,
                y: 0,
                name: 'Amitai',
                color: 'gray',
                width: 100
            },
            methods: {
                changeTitle: function (event) {
                    this.title = event.target.value;
                },
                sayHello: function () {
                    this.title = "Hello";
                    return this.title;
                },
                increaseCounter: function (step) {
                    this.counter += step;
                },
                updateCoordinates: function (event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                alertMe: function () {
                    alert('Alert!');
                }
            },
            computed: {
                myStyle: function() {
                    return {
                        'background-color': this.color,
                        width: this.width + 'px'
                    }
                }
            }
        }
    )
</script>

</html>